@using Equitrust.Corp.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ISeo>
@using ClientDependency.Core.Mvc;
@{
    Layout = null;

    // CSS
    Html.RequiresCss("~/css/libs/bootstrap.min.css", 1);
    Html.RequiresCss("~/css/libs/font-awesome.min.css", 2);
    Html.RequiresCss("~/css/custom.css");

    // Scripts
    Html.RequiresJs("https://cdn.polyfill.io/v2/polyfill.min.js", 1, 1);
    Html.RequiresJs("~/scripts/libs/modernizr-2.8.3.min.js", 2, 1);
    Html.RequiresJs("~/scripts/libs/jquery-3.2.1.min.js", 3, 2);
    Html.RequiresJs("~/scripts/libs/jquery.placeholder.js", 4, 2);
    Html.RequiresJs("~/scripts/libs/popper.min.js", 5, 2);
    Html.RequiresJs("~/scripts/libs/bootstrap.min.js", 6, 2);
    Html.RequiresJs("~/scripts/libs/Chart.bundle.min.js", 7, 2);
    Html.RequiresJs("~/scripts/main.js", 8, 2);
    Html.RequiresJs("~/scripts/analytics.js", 9, 2);

    var siteSettings = Model.Content.AncestorOrSelf<ISiteSettings>();
}

<!DOCTYPE html>

<!-- The  no-js  class is provided in order to allow us to more easily and explicitly add custom styles based on whether JavaScript is disabled -->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    @Html.Partial("SEO", Model.Content)
    @Html.RenderCssHere()
    <!--[if IE]>
    <link rel="stylesheet" href="~/css/custom-MS.css">
    <![endif]-->
    <!-- All of our HTML imports * THIS FEATURE SHOULD BE USED ONCE ALL BROWSERS SUPPORT HTML5 IMPORTS NATIVELY * -->
    <!--<link rel="import" href="index-account-detail">-->
</head>

<body class="BodyL BodyS visible-print">
    <!--[if lte IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to greatly improve your experience. This site looks and performs best on the latest stable versions of Chrome, Safari, Firefox, or Microsoft Edge.
    </p>
    <![endif]-->
    <!-- MAIN HEADER FOR PRIMARY & SECONDARY NAVIGATION, AS WELL AS EQUITRUST HERO IMAGE -->
    <style>
    @media (min-width: 576px) {
      .site-header {
        @if (Model.Content is IHeroImageContainer)
        {
            var heroImage = (Model.Content as IHeroImageContainer).GetPropertyValue<Image>("imagePicker", true);
            if (heroImage != null)
            {
                background-image: url('@heroImage.Url');
            }
        }

        @if (siteSettings != null)
        {
            background - image: url('@siteSettings.SiteLogo.Url');
        }

        
      }
    }
    </style>

    <header class="container-fluid px-0 pt-16 h-sm-400 bg-cover bg-center bg-no-repeat site-header">


        <!-- FIRST NAVBAR -->
        @Html.Partial("first-navbar")
        @Html.Partial("hamburger-modal")

        <!-- SECOND NAVBAR (ONLY VISIBLE ON TABLETS AND LARGER) -->
        <!-- NAVBAR TOGGLER -->
        <nav class="row no-gutters second-navbar d-none no-print">
            <div class="col">
                <!--Source: /Views/Partials/second-navbar.cshtml-->
                <!-- ABOUT SUB-NAV -->
                <nav class="navbar navbar-light p-0 no-print" id="about_subnav" role="navigation" aria-expanded="false">
                    <ul class="navbar-nav d-flex flex-row justify-content-center align-items-center mx-auto" role="navigation" aria-expanded="false">
                        <li class="nav-item">
                            <a class="nav-link" id="companylink" href="/about/company/">
                                Company
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="communitylink" href="/about/community/">
                                Community
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="valueslink" href="/about/values/">
                                Values
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="leadershiplink" href="/about/leadership/">
                                Leadership
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- CAREERS SUB-NAV -->
                <nav class="navbar navbar-light bg-color-heisenberg-80 p-0 display-none no-print" id="careers_subnav" role="navigation"
                     aria-expanded="false">
                    <ul class="navbar-nav d-flex flex-row justify-content-center align-items-center mx-auto" role="navigation" aria-expanded="false">
                        <li class="nav-item TopNavL">
                            <a class="nav-link" id="culturelink" href="/careers/culture/">
                                Culture
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item TopNavL">
                            <a class="nav-link" id="benefitslink" href="/careers/benefits/">
                                Benefits
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item TopNavL">
                            <a class="nav-link" id="opportunitieslink" href="/careers/opportunities/">
                                Opportunities
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </nav>

        <!-- MOBILE HERO IMAGE -->
        <svg class="d-block d-sm-none p-4 w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 178.98 49.58">
            <defs>
                <style>
                    .cls-1 {
                        fill: #0a5d66;
                    }

                    .cls-2 {
                        fill: #231f20;
                    }

                    .cls-3 {
                        fill: #fff;
                    }
                </style>
            </defs>
            <title>equitrustlogo</title>
            <rect class="cls-1" width="24.6" height="35.55" />
            <path class="cls-2" d="M58,25.05H55.33v-.49H71.46l.36,5.15h-.49c0-3.48-2.3-4.66-5.51-4.66H61.08V34.8h2.27c3.15,0,3.45-1.91,3.45-3.88h.48V39H66.8c0-2.3-.3-3.69-3.48-3.69H61.08V45.39h4.15c4.9,0,7.26-.57,7.26-5.72H73v6.2H55.33v-.48H58Z" transform="translate(-20 -10.63)" />
            <path class="cls-2" d="M78.25,39.52c0-4.15.45-6.23,3.11-6.23S85.6,35.77,85.6,38v3.55a4.13,4.13,0,0,1-4,4.23C78.61,45.75,78.25,44,78.25,39.52Zm7.38,13.34H83.3v.49h7v-.49H88.17V34h2.09v-.49H85.63v2.42h-.06a4.63,4.63,0,0,0-4.18-3.08c-3.63,0-6,3.75-6,6.72,0,3.54,2.45,6.72,6.24,6.72a4.56,4.56,0,0,0,4-2.57h.06Z" transform="translate(-20 -10.63)" />
            <path class="cls-2" d="M93.07,34v-.49h2.55V43.63a1.87,1.87,0,0,0,1.87,2.12c2.12,0,4-2.39,4-4.63V34H99.09v-.49H104V45.39h2.42v.48h-5V43.12h-.06a4.8,4.8,0,0,1-4.23,3.12c-3,0-4.12-1.6-4.12-3.36Z" transform="translate(-20 -10.63)" />
            <path class="cls-2" d="M145.11,34v-.49h2.54V43.63a1.87,1.87,0,0,0,1.88,2.12c2.12,0,4-2.39,4-4.63V34h-2.4v-.49h4.93V45.39h2.42v.48h-5V43.12h-.06a4.81,4.81,0,0,1-4.24,3.12c-3,0-4.11-1.6-4.11-3.36Z" transform="translate(-20 -10.63)" />
            <path class="cls-2" d="M111.69,34h-2.42v-.49h5V45.39h2.42v.48h-7.38v-.48h2.42Z" transform="translate(-20 -10.63)" />
            <path class="cls-2" d="M122.09,25.05h-.64c-5.39,0-6.59.82-6.59,5.78h-.49V24.57H132.9v6.27h-.48c0-5-1.21-5.78-6.57-5.78h-.66V45.39h3.12v.48H119v-.48h3.11Z" transform="translate(-20 -10.63)" />
            <path class="cls-2" d="M133.17,34h-2.54v-.49h5.08v2.91h.06c.37-1.36,1.42-3.57,3.91-3.57a1.84,1.84,0,0,1,2,1.79A1.33,1.33,0,0,1,140.29,36,1.16,1.16,0,0,1,139,34.67a1.45,1.45,0,0,1,.67-1.3.72.72,0,0,0-.43-.09c-1.24,0-3.48,2-3.48,5.9v6.2h2.76v.48h-7.84v-.48h2.54Z" transform="translate(-20 -10.63)" />
            <path class="cls-2" d="M160.54,41.49h.39c.25,1.54,1,4.27,4.21,4.27a2.75,2.75,0,0,0,2.94-2.81c0-2.39-1.82-2.42-3.42-2.6-2-.22-3.87-.49-3.87-3.64a3.67,3.67,0,0,1,3.78-3.9c1.64,0,2.75,1.06,3.05,1.06s.21-.21.21-.63V33h.42l.13,3.6H168c-.21-1.72-1.12-3.3-3.51-3.3-1.54,0-2.79.85-2.79,2.42s1.18,2.12,3.18,2.24l1,.06c2.45.15,3.45,1.48,3.45,3.57,0,2.82-1.88,4.66-4.21,4.66s-3.12-1.3-3.72-1.3c-.4,0-.3.49-.37,1.12h-.45Z" transform="translate(-20 -10.63)" />
            <path class="cls-2" d="M174.16,34h-2.63v-.49c3.15.06,4.3-1.27,4.81-4.24h.37v4.24h4.17V34H176.7V44.12c0,1.24.51,1.63,1.49,1.63a2.65,2.65,0,0,0,2.36-1.9l.46.09a3.32,3.32,0,0,1-3.33,2.3c-2.12,0-3.51-.69-3.51-2.69Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M101.37,58.56V52.35h.86v5.47h2.89v.74Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M106.14,58.56V54.24H107v4.32Zm-.08-6.22h1v.89h-1Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M108.73,58.56V54.81h-.84v-.57h.84v-.83a1.19,1.19,0,0,1,1.35-1.2,3.33,3.33,0,0,1,.59.09V53l-.41,0c-.46,0-.73.12-.71.59v.69h1v.57h-1v3.75Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M111.91,56A1.15,1.15,0,0,1,113,54.7c.79,0,1.12.56,1.1,1.28Zm3,.57v-.41a1.82,1.82,0,0,0-1.9-2c-1.37,0-2,1.06-2,2.32s.55,2.26,1.94,2.26a1.72,1.72,0,0,0,1.92-1.47H114a.91.91,0,0,1-1,.88c-.84,0-1.15-.78-1.09-1.54Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M118.56,58.56V52.35h.86v6.22Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M121.76,54.88h0a1.5,1.5,0,0,1,1.31-.76,1.48,1.48,0,0,1,1.64,1.46v3h-.82V55.84c0-.71-.3-1.1-1-1.1a1.12,1.12,0,0,0-.79.32c-.12.12-.34.31-.34,1.15v2.35H121V54.24h.8Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M127.6,54.11c.82,0,1.74.34,1.68,1.33h-.86c0-.55-.39-.73-.86-.73s-.79.21-.79.69.74.52,1,.61c.73.24,1.57.33,1.57,1.3s-1,1.39-1.92,1.39-1.66-.41-1.65-1.41h.86a.8.8,0,0,0,.88.82c.48,0,1-.19,1-.75,0-1-2.63-.24-2.63-1.93C125.9,54.51,126.81,54.11,127.6,54.11Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M133.42,54.24h.82v4.32h-.8v-.64h0a1.64,1.64,0,0,1-1.48.77,1.42,1.42,0,0,1-1.42-1.56V54.24h.82V56.8c0,.75.17,1.3,1,1.3a1,1,0,0,0,1-.62,3.17,3.17,0,0,0,.16-1Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M136.63,58.56h-.82V54.24h.82v.84h0a1.2,1.2,0,0,1,1.27-.9h.28V55a1,1,0,0,0-.35,0c-1,0-1.21.58-1.21,1.5Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M141.65,56.46c0,.8-.16,1.64-1.13,1.64a.77.77,0,0,1-.85-.8c0-.63.66-.81,1.16-.84Zm-.74-.57c-1,0-2.1.35-2.1,1.57,0,.84.76,1.23,1.51,1.23a1.39,1.39,0,0,0,1.34-.78h0c0,.2,0,.39,0,.59s.15.06.23.06h.55c0-.36,0-.72,0-.91V55.58c0-1.21-.88-1.47-1.76-1.47s-1.59.34-1.64,1.28h.86a.74.74,0,0,1,.81-.69c.87,0,.91.44.91,1.19Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M144.72,54.88h0a1.5,1.5,0,0,1,1.31-.76,1.48,1.48,0,0,1,1.63,1.46v3h-.82V55.84c0-.71-.3-1.1-1-1.1a1.13,1.13,0,0,0-.79.32c-.12.12-.35.31-.35,1.15v2.35h-.82V54.24h.8Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M151.57,55.63c0-.54-.3-.92-.89-.92-.78,0-1.08.68-1.08,1.7s.3,1.7,1.08,1.7c.54,0,.88-.35.92-1h.82a1.64,1.64,0,0,1-1.75,1.57c-1.39,0-1.94-1-1.94-2.26s.64-2.32,2-2.32a1.54,1.54,0,0,1,1.64,1.52Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M154,56a1.14,1.14,0,0,1,1.09-1.28c.79,0,1.12.56,1.1,1.28Zm3,.57v-.41a1.82,1.82,0,0,0-1.9-2c-1.37,0-2,1.06-2,2.32s.55,2.26,1.94,2.26A1.71,1.71,0,0,0,157,57.22h-.86a.91.91,0,0,1-1,.88c-.84,0-1.14-.78-1.09-1.54Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M164.41,53.95a1.24,1.24,0,0,0-1.32-1c-1.53,0-1.82,1.4-1.82,2.5,0,1.28.39,2.5,1.74,2.5a1.26,1.26,0,0,0,1.37-1h.9a2.16,2.16,0,0,1-2.35,1.73c-1.83,0-2.56-1.5-2.56-3.24,0-1.52.67-3.3,2.75-3.24,1.2,0,2.09.62,2.19,1.73Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M167,56.4c0-.92.32-1.7,1.29-1.7s1.29.77,1.29,1.7-.32,1.7-1.29,1.7S167,57.32,167,56.4Zm1.29-2.29a2.29,2.29,0,1,0,2.15,2.29A2,2,0,0,0,168.26,54.11Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M172.45,54.86h0a1.34,1.34,0,0,1,1.23-.75,1.45,1.45,0,0,1,1.52.81,1.57,1.57,0,0,1,1.44-.81,1.45,1.45,0,0,1,1.61,1.4v3h-.82V56c0-.59-.09-1.27-1-1.27a1,1,0,0,0-1,.67,3.27,3.27,0,0,0-.08.93v2.22h-.82V56c0-.75-.17-1.27-1-1.27a1.11,1.11,0,0,0-1.07.71,3.07,3.07,0,0,0-.06.9v2.22h-.82V54.24h.8Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M183,56.4c0,.81-.3,1.7-1.3,1.7s-1.14-.89-1.14-1.7.29-1.7,1.22-1.7S183,55.59,183,56.4Zm-3.26,3.81h.82V58.07h0a1.5,1.5,0,0,0,1.21.62,2,2,0,0,0,2.07-2.29c0-1.17-.6-2.29-1.81-2.29a1.4,1.4,0,0,0-1.47.82h0l0-.69h-.84c0,.26,0,.52,0,.78Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M187.57,56.46c0,.8-.16,1.64-1.13,1.64a.77.77,0,0,1-.85-.8c0-.63.66-.81,1.16-.84Zm-.74-.57c-1,0-2.1.35-2.1,1.57,0,.84.76,1.23,1.51,1.23a1.39,1.39,0,0,0,1.34-.78h0c0,.2,0,.39,0,.59s.16.06.23.06h.55c0-.36,0-.72,0-.91V55.58c0-1.21-.88-1.47-1.77-1.47s-1.59.34-1.64,1.28h.86a.74.74,0,0,1,.81-.69c.87,0,.91.44.91,1.19Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M190.64,54.88h0a1.59,1.59,0,0,1,2.94.7v3h-.82V55.84c0-.71-.3-1.1-1-1.1a1.12,1.12,0,0,0-.79.32c-.12.12-.34.31-.34,1.15v2.35h-.82V54.24h.8Z" transform="translate(-20 -10.63)" />
            <path class="cls-1" d="M196.44,60.21h-.83l.65-1.67-1.8-4.3h.91l1.35,3.41,1.38-3.41H199Z" transform="translate(-20 -10.63)" />
            <path class="cls-2" d="M184.92,42.49a1.8,1.8,0,1,1-1.77,1.8A1.75,1.75,0,0,1,184.92,42.49Zm0-.3A2.09,2.09,0,1,0,187,44.29,2.07,2.07,0,0,0,184.92,42.2Zm-.46,2.23h.5l.68,1.08H186l-.72-1.08a.65.65,0,0,0,.61-.68c0-.43-.24-.67-.79-.67h-.93V45.5h.3Zm0-.25v-.84H185c.29,0,.57.08.57.41s-.36.42-.73.42Z" transform="translate(-20 -10.63)" />
            <path class="cls-3" d="M25.34,19v1.75H44.6V19Zm3.14,5.41H44.6V22.68H28.48Zm3,3.66h2.19v18.1h1.75V28.1h1.94v18.1h1.75V28.1H41v18.1h1.75V28.1h1.9V26.34H31.44Z" transform="translate(-20 -10.63)" />
        </svg>


        <div class="off-canvas-nav fixed h-100 w-75 bg-white shadow-md">
            <button type="button" class="close close-button text-5xl font-thin mr-4 d-block js-close-nav-trigger" id="detail-modal-close-button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

    </header>
    <div class="container-fluid p-0">
        <header class="no-print">
  

            <!-- FIRST NAVBAR (ALWAYS VISIBLE, BUT SIMPLIFIED ON TABLETS AND BELOW) &  HAMBURGER MODAL (ONLY VISIBLE ON TABLETS AND LARGER) -->

            @Html.Partial("first-navbar")
            @Html.Partial("hamburger-modal")

            @if (!Model.Content.HideSubNavigation)
            {
                <div class="row no-gutters second-navbar hidden-md-down no-print">
                    <div class="col">
                        @Html.Partial("second-navbar")
                    </div>
                </div>
            }
        </header>

        <div class="row mb-3 no-gutters">
            <div class="col">
                <hr class="mb-5">
            </div>
        </div>

    </div>

    <!-- SEARCH MODAL (ONLY VISIBLE ON TABLETS AND SMALLER) -->
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                @Html.Partial("search-modal")
            </div>
        </div>
    </div>

    <!-- No JavaScript Warning. Only appears if user's browser does not support JavaScript, or if it is disabled -->
    <noscript>
        <div class="container">
            <div class="h4 m-3 text-center" style="color: rgb(255, 0, 0);">
                It appears that your JavaScript is disabled. Please enable JavaScript in your browser settings and reload this page.
            </div>
        </div>
    </noscript>

    <!-- MAIN CONTENT AREA + BREADCRUMB -->
    <main class="container-fluid mx-auto" id="main-content">

        @RenderBody()
        @RenderSection("bodyContent", false)

        <!-- RETURN TO TOP FEATURE -->
        <a href="#" class="return-to-top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>

        <!-- CONTACT US MODAL -->
        <div id="contact-us-modal" class="modal fade right" role="dialog" tabindex="-1" aria-labelledby="contact-us-modal" data-backdrop="true"
             style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right" id="hamburger-contact-dialog" aria-labelledby="hamburger-contact-dialog">
                <div class="modal-content"></div>
            </div>
        </div>

    </main>

    <!-- FOOTER SECTION -->
    <div class="container-fluid p-0">
        <footer class="container-fluid p-0 page-footer text-center bg-color-heisenberg mt-1">
            <hr>
            <div class="footer-content">
                @Html.Partial("widgets", siteSettings.FooterWidgets)
            </div>
        </footer>
    </div>

    @Html.RenderJsHere()
    <noscript>
        <style>
            body {
                visibility: visible;
            }
        </style>
    </noscript> <!-- A SAFEGUARD TO ENSURE THAT OUR BODY CONTENT IS VISIBLE EVEN IF JAVASCRIPT IS DISABLED -->
</body>

</html>